# Document   : .htaccess
# Created on : Dec 4, 2012, 8:37:44 PM
# Author     : MaxMahem
# Description:
#
# Rewrite requests in the CVH/Vote subdirectory as appropriate

RewriteEngine On

# Request: QUESTIONID-ANSWERID
# Rewrite: vote.php?Q=QUESTIONID&A=ANSWERID
RewriteRule ([Q|A]/d+)-([Q|A]/d+)$  /CVH/vote/vote.php?Q=$1&A=$2  [L]

# Request: display/top|recent
# Rewrite: display.php?type=TYPE
RewriteRule display/(.*)$ /CVH/vote/display.php?type=$1 [L]

# Rewrite if we don't match a directory
RewriteCond %{REQUEST_FILENAME} !-d 

# Rewrite if the request is a php file
RewriteCond %{REQUEST_FILENAME}\.php -f 

# Request: /CVH/view/file.php
# Rewrite: /CVH/view/file
RewriteRule ^(.*)$ $1.php