/* 
    Document   : cvh
    Created on : Aug 2, 2012, 8:37:44 PM
    Author     : MaxMahem
    Description:
        Purpose of the stylesheet follows.
		Stylesheet for Cards vs Humans
*/

/* CSS RESET */
* { 
    margin:0; 
    padding:0;
}

/* clear floats. Technicaly we should be able to do without this,
   but this is an easy way to handle it */
.clear {
    clear: both;
}

div#header {
    width: 100%;
    background-color: black;
    padding: 1em;
}

#header h1 {
    font: bold xx-large helvetica;
    color: white;
}

#header h1 a {
    font:  inherit;
    color: inherit;
    text-decoration: none;  
}

.NSFWtag {
    color: red;
    top:   .75em;
    right: .75em;
    position: absolute;
    z-index: 1;
    font: bold small helvetica;
}

.card {
    font: bold x-large helvetica;
    width:          9em;
    height:        12em;
    padding:        1em;
    margin:        .5em;
    border-radius: .5em;
    position: relative;
    float:    left;
}

.card .source {
    font: bold medium helvetica;
    position: absolute;
    bottom: 1em;
    left:   1em;
    z-index: 1;
}

.card a {
	font: inherit;
	color: inherit;
	text-decoration: none;
}

.card .source img {
    height: 2em;
    vertical-align: text-bottom;
    padding-right: .2em;
    border: 0;
}

/* border is there to ensure exact spacing */
.instructions {
    font:    bold x-large helvetica;
    width:   23em;
    height:  10em;
    padding:  2em;
    margin:  .5em;
    border:  solid 2px white;
    float:   left;
    text-align: center;
}
/* votes section 6x normal size */
.votes {
    font-size: 6em;
}

.question {
	border: solid 2px white;
	color: white;
	background-color: black;
}

/* Answers float left */
.answer {
    border: solid 2px black;
    color: black;
    background-color: white;
    float: left;
}

.bad {
    background-color: red;
    text-align: center;
    line-height: 12em;
}

/* This anchor tag is absolutely positioned on top of the containing div
   it is designed to sit on the bottom layer so that the source link can
   which is also absolutely positioned can sit on top of it, allowing the
   to links to effectively be nested, which is normally not allowed */
.answerlink {
    position: absolute;
    left:     0;
    top:      0;
    width:    9em;
    height:  12em;
    padding:  1em;
    z-index:  0;
}

/* turn grey on hover to indicate it's a link */
.vote:hover {
    background-color: grey;
}

.answer input {
/* hide this later, on for testing now
    display: hidden; */
}

/* this is turned on with jQuery */
.selected {
    background-color: grey;
}

/* permalink border is there to ensure exact spacing */
.permalink {
    width:   9em;
    padding: 0  1em;
    margin:  0 .5em;
    text-align: center;
    font-size: x-large;
    float: left;
    border: solid 2px white;
}

.permalink a {
    font: bold medium helvetica;
    color: black;
    text-decoration: none;  
}