/* 
    Document   : cvh
    Created on : Aug 2, 2012, 8:37:44 PM
    Author     : MaxMahem
    Description:
        Purpose of the stylesheet follows.
		Stylesheet for Cards vs Humans
*/

/* CSS RESET */
* { 
    margin:0; 
    padding:0;
}

/* a RESET */
a {
    font:            inherit;
    color:           inherit;
    text-decoration: inherit;
}

/* clear floats. Technicaly we should be able to do without this,
   but this is an easy way to handle it */
.clear {
    clear: both;
}

div#header {
    background-color: black;
    padding: .5em 1em;
}

#header h1 {
    font: bold xx-large helvetica;
    color: white;
}

.NSFW {
    color: red;
}

.SFW {
    color: white;
}

.NSFWtag {
    top:   .75em;
    right: .75em;
    position: absolute;
    z-index: 1;
    font: bold small helvetica;
}

.cardbox {
    float: left;
}

.card {
    font: bold x-large helvetica;
    width:          8em;
    height:        11em;
    padding:        1em;
    margin:        .5em .5em 0 .5em;
    border-radius: .5em;
    position: relative;
}

.card .source {
    font: bold medium helvetica;
    position: absolute;
    bottom: 1em;
    left:   1em;
    z-index: 1;
}

.card .source img {
    height: 2em;
    vertical-align: text-bottom;
    padding-right: .2em;
    border: 0;
}

.card input {
    font:       inherit;
    color:      inherit;
    background: inherit;
    border: 0px; 
}
.card textarea {
    font:       inherit;
    color:      inherit;
    background: inherit;
    border:  0;
    width:   9em;
    height: 10em;
    resize: none;
}

.card select {
    font:       inherit;
    color:      inherit;
    background: inherit;
    border:  0;
    
}

/* border is there to ensure exact spacing */
.instructions {
    font:    bold x-large helvetica;
    float:   left;
    text-align: center;
}

.instructions p {
    width:   17em;
    padding:  1em 2em 0 2em;
    margin:  .5em;
}

/* votes section 6x normal size */
.votes {
    font-size: 6em;
}

.question {
    border: solid 2px white;
    color: white;
    background-color: black;
}

/* Answers float left */
.answer {
    border: solid 2px black;
    color: black;
    background-color: white;
}

/* This anchor tag is absolutely positioned on top of the containing div
   it is designed to sit on the bottom layer so that the source link can
   which is also absolutely positioned can sit on top of it, allowing the
   to links to effectively be nested, which is normally not allowed */
.answerlink {
    position: absolute;
    left:     0;
    top:      0;
    width:    8em;
    height:  11em;
    padding:  1em;
    z-index:  0;
}

/* turn grey on hover to indicate it's a link */
.vote:hover {
    background-color: grey;
}

/* permalink border is there to ensure exact spacing */
.permalink {
    width:   8em;
    padding: 0  1em;
    margin:  0 .5em;
    text-align: center;
    font-size: x-large;
    float: left;
    clear: left;
    border: solid 2px white;
}

.permalink a {
    font: bold medium helvetica;
    color: black;
}

input[type=submit] {
    width:   10em;
    padding:  0  1em;
    margin:   0 .5em;
    border-radius: .5em;
    float: left;
    font: bold x-large helvetica;
}