# Document   : .htaccess
# Created on : Jan 2, 2013
# Author     : MaxMahem
# Description: Rewrite for displaying random card sets.

RewriteEngine On

#Rewrite question/S#SEED#/P#PAGE#/N#NUMBER#  display.php?type=question&seed=#SEED#&page=#PAGE#&number=#NUMBER#
RewriteRule question/S(\d+)/P(\d+)/N(\d+)/?$ display.php?type=question&seed=$1&page=$2&number=$3 [L]
RewriteRule question/S(\d+)/P(\d+)/?$        display.php?type=question&seed=$1&page=$2           [L]
RewriteRule question/S(\d+)/?$               display.php?type=question&seed=$1                   [L]
RewriteRule question/?$                      display.php?type=question                           [L]

#Rewrite answer/S#SEED#/P#PAGE#/N#NUMBER#/V#VOTE# display.php?type=answer&seed=#SEED#&page=#PAGE#&number=#NUMBER#&vote=#VOTE#
RewriteRule answer/S(\d+)/P(\d+)/N(\d+)/(Q\d+)/?$ display.php?type=answer&seed=$1&page=$2&number=$3&vote=$4 [L]
RewriteRule answer/S(\d+)/P(\d+)/N(\d+)/?$        display.php?type=answer&seed=$1&page=$2&number=$3         [L]
RewriteRule answer/S(\d+)/P(\d+)/?$               display.php?type=answer&seed=$1&page=$2                   [L]
RewriteRule answer/S(\d+)/?$                      display.php?type=answer&seed=$1                           [L]
RewriteRule answer/?$                             display.php?type=answer                                   [L]